{% extends (is_granted("ROLE_ADMIN")) ? ("admin/base.html.twig") : ("customer/base.html.twig") %}
{% block body %}
	<div class="container col-auto col-md-9 col-xl-10">
		<div class="form-control">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}

		</div>
		<div>
			{% for message in app.flashes %}
				{{ message }}
				{% else %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
