{% extends (is_granted("ROLE_ADMIN")) ? ("admin/base.html.twig") : ("customer/base.html.twig") %}

{% block title %}Audit
{% endblock %}

{% block body %}
	<div class="container col-auto col-md-9 col-xl-10">
		<h1>Audit réalisé le {{ profil.createAt ? profil.createAt|date('d-m-Y à H:i:s') : '' }}</h1>

		{{ include('profil/_form_show.html.twig') }}

		{% if is_granted("ROLE_ADMIN") %}
			<a class="link-dark" href="{{ path('profil_index') }}">back to list</a>
		{% else %}
			<a class="link-dark" href="{{ path('profil_index_customer') }}">back to list</a>
		{% endif %}

	</div>
{% endblock %}
