{% extends 'base.html.twig' %}

{% block title %}Nouvelle ressource{% endblock %}

{% block body %}
<section class='container'>
    <h1>Créer une nouvelle ressource</h1>

    {{ include('ressource/_form.html.twig') }}

    <a href="{{ path('ressource_index') }}">retour à la liste</a>
</section>
{% endblock %}
