{% extends (is_granted("ROLE_ADMIN")) ? ("admin/base.html.twig") : ("customer/base.html.twig") %}

{% block title %}Modification d'une nouvelle Roadmap{% endblock %}

{% block body %}
    <h1>Modification d'une nouvelle Roadmap</h1>

    {{ include('roadmap/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('roadmap_index') }}">back to list</a>

    {{ include('roadmap/_delete_form.html.twig') }}
{% endblock %}
