{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
	<section class="contact">
		<div id="logohd">
    		<img src="{{ asset('build/images/Logo.png') }}" alt="logo"/>
    	</div>

		<main class='container-fluid'>
			<form method="post" class="row" id="form_contact">
				<h1 class="h3 mb-3 font-weight-normal">Contact</h1>

				<label for="LastName">Votre Nom</label>
				<input type="text" id="LastName" name="LastName" class="form-control" placeholder="ex: Doe" required/>


				<label for="FirstName">Votre Prénom</label>
				<input type="text" id="FirstName" name="FirstName" class="form-control" placeholder="ex: John" required/>

				<label for="email">Votre Email</label>
				<input type="email" id="email" name="email" class="form-control" placeholder="ex: example@seamail.com"/>


				<label for="message">Commentaires</label>
				<textarea id="message" name="message" class="form-control" placeholder="Votre message" required></textarea>

				</br></br>
				<button class="btn btn-dark" type="submit">
                Envoyer
            	</button>
			</form>
			<p id="message">
				{% for message in messages %}
					{{ message }}
				{% endfor %}
			</p>
		</main>
	</section>

{% endblock %}
