<header>
	<div class="container-fluid d-flex justify-content-between align-items-center">
		<div class="title d-none d-sm-block">
			<h1 class="pt-3">SAMD</h1>
			<p class="fs-4">Solution Automatique de Marketing Digital</p>
		</div>
		<img src="{{ asset('build/images/Logohybride.png') }}" width="400" height="80" alt="logo">
	</div>
</header>
