<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<title>
			{% block title %}Projet 3 Name
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>
			<div class="container-fluid d-flex justify-content-between align-items-center">
				<div class="title">
					<h1 class="pt-3">SAMD</h1>
					<p class="fs-4">Solution Automatique de Marketing Digital</p>
				</div>
                <img src="{{ asset('build/images/Logohybride.png') }}" width="400" height="80" alt="logo">
			</div>
		</header>
		<div class="container-fluid">
			<div class="row flex-nowrap">
				{% include "customer/_navbar.html.twig" %}
				{% block body %}{% endblock %}
			</div>
		</div>
	</body>
</html>
