{% extends 'admin/base.html.twig' %}

{% block title %}Edit Audit
{% endblock %}

{% block body %}
	<div class="container">

		<h1>Modification d'audit</h1>

		{{ include('audit/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

		<a href="{{ path('audit_index') }}">Retour à la liste</a>

		{{ include('audit/_delete_form.html.twig') }}

	</div>
{% endblock %}
