{% extends 'admin/base.html.twig' %}

{% block title %}New Audit
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Création d'un nouvel audit</h1>

		{{ include('audit/_form.html.twig') }}

		<a href="{{ path('audit_index') }}">Retour à la liste</a>
	</div>
{% endblock %}
