{% extends 'admin/base.html.twig' %}

{% block title %}Liste des utilisateus
{% endblock %}

{% block body %}
<div class="container">
	<h1>Liste des utilisateurs</h1>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Prènom</th>
				<th scope="col">Nom</th>
				<th scope="col">Email</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<th scope="row">{{ user.firstname }}</th>
					<td>{{ user.lastname }}</td>
					<td>{{ user.email }}</td>
					<td>
						<a href="{{ path("user_show", {id: user.id}) }}">voir la fiche</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
